ytd-miniplayer {
    --ytd-miniplayer-height: 2px;
    --ytd-miniplayer-card-height: 65px;
}
ytd-miniplayer[animate-miniplayer]:not([expanded]) {
    height: 450px;
}
.ytd-miniplayer .ytp-tooltip.ytp-bottom.ytp-preview,
.ytd-miniplayer .ytp-preview:not(.ytp-text-detail) * {
    top: unset!important;
}
.ytp-miniplayer-ui {
    z-index: 68;
}
.ytp-miniplayer-expand-watch-page-button,
#info-bar.ytd-miniplayer .expander.ytd-miniplayer,
.ytd-miniplayer video.video-stream.html5-main-video {
    display: none;
}
